{% extends 'shared/_MainLayout.html' %}
{% block titlePage %}نمودار ها{% endblock %}
{% load render_partial %}
{% load static %}
{% block content %}

    <section id="body">
        <div class="container mt-5">

            <div class="row bg-light p-3 text-blue border">
                <b class="ml-5">
                    مسیر شما: &nbsp;
                    <a href="/" class="aInFooter">صفحه ی اصلی وبسایت</a>
                    &nbsp;<i class="fa fa-chevron-left text-danger"></i>&nbsp;
                    <a href="/user/info" class="aInFooter">پنل کاربری</a>
                    &nbsp;<i class="fa fa-chevron-left text-danger"></i>&nbsp;
                    <a href="/user/admin/charts" class="aInFooter">نمودار ها</a>
                </b>
            </div>
            <br>

            <div class="row">

                <div class="col-md-3 shad">

                    {# sideBar #}
                    {% render_partial 'Eshop_PannelUser.views.sideBar' %}

                </div>

                <div class="col-md-9">

                    <div class="shad p-3">

                        <div class="container bg-light p-1 text-blue text-center border leftRightBorder">
                            <b>نمودار ها</b>
                        </div>
                        <br>
                        <canvas id="myChartpie"></canvas><br>
                        <canvas id="myChartbar"></canvas>
                        <br>
                    </div>

                </div>
            </div>

        </div>
        <br><br>
    </section>

{% endblock %}