{% extends 'shared/_MainLayout.html' %}
{% block titlePage %}ثبتنام{% endblock %}
{% load static %}
{% block content %}

    <section class="container mt-5">

        <div class="bg-light p-3 text-blue border">
            <b class="ml-5">
                مسیر شما: &nbsp;
                <a href="/" class="aInFooter">خانه</a>
                &nbsp;<i class="fa fa-chevron-left text-danger"></i>&nbsp;
                <a href="/Auth/Register" class="aInFooter">عضویت</a>
            </b>
        </div>
        <br>

        <div class="card shad">

            <div class="card-header bg-blue text-white"></div>

            <div class="row">

                <div class="col-md-6 p-4">

                    <div class="card">
                        <div class="card-body">
                            <h6 class="p-3 font-weight-bolder bg-light">ثبتنام کاربر <i class="fas fa-sign-in-alt"></i></h6>
                            <p class="p-1 p">
                                در صورت درست بودن اطلاعات وارد شده، به صورت اتوماتیک به صفحه ورود کاربر وارد میشوید .
                            </p>

                            {% if register.username.errors %}
                                <hr>
                                {% for usernameErr in register.username.errors %}
                                    <p class="alert alert-danger">
                                        {{ usernameErr | safe }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                           {% if register.email.errors %}
                                <hr>
                                {% for emailErr in register.email.errors %}
                                    <p class="alert alert-danger">
                                        {{ emailErr | safe }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                           {% if register.password.errors %}
                                <hr>
                                {% for pwErr in register.password.errors %}
                                    <p class="alert alert-danger">
                                        {{ pwErr | safe }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                           {% if register.re_password.errors %}
                                <hr>
                                {% for pwErr in register.re_password.errors %}
                                    <p class="alert alert-danger">
                                        {{ pwErr | safe }}
                                    </p>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card-body" style="direction: rtl;">
                        <form class="form" method="POST">
                            {% csrf_token %}
                            <div class="bg-light p-3">
                                <label for="{{ register.username.id_for_label }}">{{ register.username.label | safe }}</label>
                                {{ register.username }}
                            </div>

                            <div class="bg-light p-3 mt-1">
                                <label for="{{ register.email.id_for_label }}">{{ register.email.label | safe }}</label>
                                {{ register.email }}
                            </div>

                            <div class="bg-light p-3 mt-1">
                                <label for="{{ register.password.id_for_label }}">{{ register.password.label | safe }}</label>
                                {{ register.password }}
                            </div>


                            <div class="bg-light p-3 mt-1">
                                <label for="{{ register.re_password.id_for_label }}">{{ register.re_password.label | safe }}</label>
                                {{ register.re_password }}
                            </div>
                            <input type="submit" value="ثبتنام" class="mt-2 btn login-btn btn-block btn-sm wow animate__animated animate__fadeInUp " data-wow-delay="2s" style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp;">
                        </form>
                    </div>

                </div>
            </div>

        </div>
        <br>
    </section>

{% endblock %}